<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Shayand::top_level" title="Shayand" module="Shayand_Subscription" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Shayand_Subscription::shayand_subscription_subscription" title="Subscription" module="Shayand_Subscription" sortOrder="9999" resource="Magento_Backend::content" parent="Shayand::top_level" action="shayand_subscription/subscription/index"/>
	</menu>
</config>
