<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="shayand_subscription" id="shayand_subscription">
			<module before="Magento_Backend" name="Shayand_Subscription"/>
		</route>
	</router>
</config>
